{
    "env": {
        "es6": true,
        "node": true,
        "browser": false,
        "commonjs": false,
        "jest/globals": true
    },
    "plugins": ["jest", "prettier"],
    "parserOptions": {
        "ecmaVersion": "2018",
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "eslint-config-prettier", "prettier"],
    "rules": {
        "strict": ["error", "never"],
        "prettier/prettier": "error",
        "quotes": ["error", "single"]
    }
}
